.container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  // background-color: $active-bg;
  // outline: 1px solid blue;
  // margin: 0;
  // @include respond-to(desktop) {
  //   margin-left: 305px;
  // }
}
