$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$white: #fff;
$black: #000;
$accent: tomato;
$gray1: #838383;
$gray2: #9197b3;
$gray3: #757575;
$gray4: #f9fbff;
$table-border: #eee;
$table-text: #292d32;
$pagination-text-color: #404b52;
$pagination-bg: #f5f5f5;
$pagination-active: #5932ea;
$placeholder-color: #b5b7c0;
$background: #fafbff;
$inactive-bg: #ffc5c5;
$inactive-color: #df0404;
$active-bg: rgba(22, 192, 152, 0.38);
$active-color: #00b087;
$active-text: #008767;
$subtitle-color: #16c098;
